<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Familia</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <main>
        <header>
            <h1>Mi familia</h1>
            <hr>
        </header>
        <nav>
            <div class="btn1">
            <a class="text1" href="../index.html">Quien soy</a> <br>
            </div>
            <div class="btn1">
            <a class="text1" href="../templates/hobbies.html">Mis hobbies👀</a> <br>
            </div>
        </nav>
        <section>
            <p>Tengo una hermosa familia, la cual se conforma por:<br>
            <li>Papá</li> <br>
            <img src="../assets/imagenes/papá.jpg">
            <li>Mamá</li> <br>
            <img src="../assets/imagenes/mamá.jpg">
            <li>Hermana</li> <br>
            <img src="../assets/imagenes/hermana.jpg">
            <li>Abuela</li> <br>
            <img src="../assets/imagenes/abuela.jpg">
            <li>Tíos</li> <br>
            <img src="../assets/imagenes/tíos.jpg">
            <li>Primos</li> <br>
            <img src="../assets/imagenes/primos.jpg">
            <li>Mascota</li></p>
            <img src="../assets/imagenes/mascota.jpg">
        </section>
        <footer>
            <hr>
            <p>Página realizada por Dirison Estiven Rozo H. &copy;Todos los derechos reservados 2024</p>
        </footer>
    </main>
</body>
</html>