<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hobbies</title>
    <link rel="stylesheet" href="../styles/styles.css">
</head>
<body>
    <main>
        <header>
            <h1>Mis hobbies👀</h1>
            <hr>
        </header>
        <nav>
            <div class="btn1">
            <a class="text1" href="../index.html">Quien soy</a> <br>
            </div>
            <div class="btn1">
            <a class="text1" href="../templates/familia.html">Mi familia</a> <br>
            </div>
        </nav>
        <section>
            <p>
            <li>Me gusta el futbol</li> <br> 
            <img src="../assets/imagenes/messi.jpg">
            <li>Me gusta ver peliculas</li> <br> 
            <img src="../assets/imagenes/peliculas.jpg">
            <li>Me gusta escuchar música</li> <br> 
            <img src="../assets/imagenes/música.jpg">
            <li>Me gusta jugar con mi mascota</li> <br>
            <img src="../assets/imagenes/perro.jpg">
            </p>
        </section>
        <footer>
            <hr>
            <p>Página realizada por Dirison Estiven Rozo H. &copy;Todos los derechos reservados 2024</p>
        </footer>
    </main>
</body>
</html>